
// Fonts
$font-fam: Tahoma, Geneva, sans-serif;
$blockquote-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

// Colors
$main-color: rgb(0, 255, 200);
$sec-color: rgb(81, 229, 255);


// Breakpoints
$desktop-size: 1024px;
